extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id))
                    button 비디오 수정
            h5.video__title=video.title
            p.video__description=video.description
            span.video__views 조회수 #{video.views}
            .video__author
                | Uploaded by 
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            span.video__comment-number
                    |댓글 
                    span#jsCommentNumber=video.comments.length
            form.add__comment#jsAddComment
                input(type="text", placeholder="댓글을 작성해주세요")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        span=comment.text